.break-word {
        word-break: break-all;
    word-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer ;
}

.top-20-percent {
  top: 20%;
}

.fa-inline {
  display: inline;
}

.no-padding-left, .ng2-pagination ul, ul {
  padding-left: 0 !important;
}
