<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home']"><i class="fa fa-link" aria-hidden="true"></i> Url Shortener</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-sm-0">

      <li *ngIf="!this.auth.loggedIn" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login </a>
      </li>

      <li *ngIf="!this.auth.loggedIn" class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']">Signup</a>
      </li>
      <li *ngIf="this.auth.loggedIn" class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
</ul>
<ul *ngIf="this.auth.loggedIn" class="navbar-nav mr-0 mt-2 mt-sm-0">
  <span class="mt-2">
    Hello {{this.auth.username}}
  </span>
  <li class="nav-item pull-right">
    <a [routerLink] (click)="logout()" role="button" class="nav-link " [routerLink]="['/home']">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </li>
</ul>
  </div>
</nav>