<h2>
  Url Shortener
</h2>
<app-link-form (submitForm) = "OnSubmitForm($event)"></app-link-form>

<table class="table table-hover adaptive-table" *ngIf="links.length > 0">
  <tr>
    <th> LONGURL</th>
    <th> SHORTURL</th>
    <th> DESCRIPTION</th>
    <th> TAGS</th>
    <th (click)="orderByClicks()"> CLICKS</th>
    <th> ABOUT</th>
    <th> CHANGE</th>
    <th> DELETE</th>
  </tr>
  <tr *ngFor="let link of links">
    <td class=""> {{link.longUrl}}</td>
    <td><a href="{{link.shortUrl}}">{{link.shortUrl}} </a></td>
    <td> {{link.description}}</td>
    <td> {{link.tags}}</td>
    <td> {{link.clicks}}</td>
    <td><a [routerLink]="['/details', link._id]" > details </a></td>
    <td><a [routerLink]="['/change', link._id]" class="btn btn-warning">Change</a></td>
    <td>
      <button (click)="deleteLink(link._id)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>
<h3>Total count clicks: {{getTotalClicks()}} </h3>
