<h1>Details url:</h1>
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-fw"></i>
<div *ngIf="link">
  <ul>
    <li>Clicks: {{link.clicks}}</li>
    <li>Long URL : <a href="{{link.longUrl}}">{{link.longUrl}}</a></li>
    <li>Short URL: <a href=" {{link.shortUrl}}" target="_blank">{{link.shortUrl | url}}</a></li>
    <li>Tags:
      <span *ngFor="let tag of tagsArray">
        <a [routerLink] (click)="getLinksByTag(tag)" >{{tag}}</a>
      </span>
    </li>
    <li>Description: {{link.description}}</li>
  </ul>
  <button type="button" class="btn btn-lg btn-secondary" [routerLink]="['/home']">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Go back
  </button>
</div>
<div *ngIf="links.length>0" class="row mt-5">
  <h4>Links with tag: {{tag}}</h4>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <!--<th>User ID</th>-->
          <th>Long Url</th>
          <th>Short Url</th>
          <th>Description</th>
          <th>Tags</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of links">
          <td> <a class="break-word " href="{{link.longUrl}}" target="_blank">{{link.longUrl}}</a> </td>
          <td> <a href="{{link.shortUrl | url}} " target="_blank">{{link.shortUrl | url}}</a></td>
          <td> {{link.description}} </td>
          <td> {{link.tags | tags}} </td>
          <td> {{link.clicks}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--row-->
