<div class="container">
<div class="nav">
    <a *ngIf="!this.auth.loggedIn" [routerLink]="['/signup']" class="nav-link ">Signup</a>
  <a *ngIf="!this.auth.loggedIn" [routerLink]="['/login']"class="nav-link active">Login</a>
  <a *ngIf="this.auth.loggedIn"[routerLink]="['/home']"class="nav-link  ">Home</a>
  <a *ngIf="this.auth.loggedIn" [routerLink]  (click)="logout()" role="button" class="nav-link pull-right">Logout</a>
  <span *ngIf="this.auth.loggedIn"class="pull-right" >Hello {{this.auth.username}} </span>
</div>
  <router-outlet></router-outlet>
</div>
