<div class="login jumbotron center-block">
  <!--<div class="alert alert-info">
        Username: test<br />
        Password: test
    </div>-->
  <h2>Login</h2><br>
  <form name="form" (ngSubmit)="login()" #form="ngForm" novalidate>
    <div class="form-group row" [ngClass]="{ 'has-danger': usernameField.touched && usernameField.invalid, 'has-success' : usernameField.valid  }">
      <label class="col-sm-2 col-form-label" for="username">Username</label>
      <div class="col-sm-10">
        <input type="text" required pattern="^[a-zA-Z0-9_.-]*$" [ngClass]="{ 'form-control-danger': usernameField.touched && usernameField.invalid, 'form-control-success': usernameField.valid}"
          class="form-control" name="username" placeholder="Username" [(ngModel)]="username" #usernameField="ngModel" />
        <div *ngIf="usernameField.touched && usernameField.invalid" class="alert alert-danger mt-1">Username is required</div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-danger': passwordField.touched && passwordField.invalid, 'has-success' : passwordField.valid  }">
      <label class="col-sm-2 col-form-label" for="password">Password</label>
      <div class="col-sm-10">
        <input type="password" [ngClass]="{ 'form-control-danger': passwordField.touched && passwordField.invalid, 'form-control-success': passwordField.valid }"
          [(ngModel)]="password" #passwordField="ngModel" class="form-control" name="password" placeholder="Password" required
        />
        <div *ngIf="passwordField.touched && passwordField.invalid" class="alert alert-danger mt-1">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="isLoading || form.invalid" class="btn btn-primary">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
     <i *ngIf="isLoading"  class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-1">
      {{ error }}
    </div>
    <a [routerLink]="['/signup']">Click here to Signup</a>
  </form>
</div>
