<h2>
  <span class="badge badge-default" >Shorten your link here:  </span>
</h2>
<form #linkForm="ngForm" (submit)="AddLink()">
  <input required autofocus type="url" pattern="https?://.+" placeholder="INSERT YOUR LONG URL HERE" class="form-control" [(ngModel)]="link.longUrl"
    name="longUrl"> <br>
    <input required type="text" placeholder="WRITE DESCRIPTION" class="form-control" [(ngModel)]="link.description" name="description">    <br>
    <input required type="text" placeholder="WRITE TAGS" class="form-control" [(ngModel)]="tags" name="tags"> <br>
    <div class="row">
      <div class="col-6">
    <button type="submit" class="btn btn-primary">Shorten <i class="fa fa-bolt" aria-hidden="true"></i></button>
      </div>
      <div class="col-6">
        <a name="refreshButton" id="refreshButton" (click)="onRefreshPage()" class="btn btn-secondary  pull-right" role="button">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
      </div>
    </div><!--row-->
</form>
<div *ngIf="error" class="mt-2 alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{error}}
</div>

<br>
<div *ngIf="shortedLinkUrl" class="row mb-5">
  <div class="col-md-6 col-sm-12">
    <div class="input-group">
      <label class="mt-2" for="shortUrlInput">
       Short Url <i class="fa fa-chevron-right"></i> <i class="fa fa-chevron-right"></i>
      </label>
      <input id="shortUrlInput" type="url" class="form-control" #shortUrlInput value="{{shortedLinkUrl | url}}" readonly="readonly">
      <span class="input-group-btn">
  <button class="btn btn-secondary" type="button" [class.btn-success]="shortLinkisCopied" [ngxClipboard]="shortUrlInput" [cbContent]="text"
        (cbOnSuccess)="shortLinkisCopied = true">
                Copy
        </button>
      </span>
    </div>
    <!--input-group-->
  </div>
  <!--col-->
</div>
<!--row-->
